{% extends 'tracker/base.html' %}

{% block main_content %}
{% if newUser %}
<script type="text/javascript">
window.onload = function(){
  Materialize.toast('<span>Hover over the button on the bottom-right, and click the plus to add a series. Swipe to dismiss.</span>', 9000)
  
};
</script>
{% endif %}
{% if newCard %}
<script type="text/javascript">
window.onload = function(){
  Materialize.toast('<span>New series, {{newCard}}, added!</span>', 6000)
  
};
</script>
{% endif %}
{% if form_errors %}
<script type="text/javascript">
  window.onload = function(){
    document.getElementById("add_series_button").click()
  }
</script>
{% endif %}
    <div class="row">
        <a class="btn-floating dropdown-button btn right" data-activates='filter'><i class="material-icons">sort</i></a>
      <div class="col s12 m5">
        <div class="card-panel red">
          <span class="white-text">Hello, {{username}}!</span>
        </div>
      </div>
    <ul id='filter' class='dropdown-content'>
      <li class="disable selected"><a>Sort by</a></li>
      <li class="divider"></li>
    <li><a href="/tracker/">All</a></li>
    <li><a href="?sort=Today">Today</a></li>
  </ul>
  
    </div>
<div class="row">
{% for series in series_list %}
    <div class="col s4">
        <a class="waves-effect waves-light dropdown-button btn-flat" data-activates='{{series.title}}_options' ><i class="material-icons gray">settings</i></a>
          <!-- Dropdown Structure -->
          <ul id='{{series.title}}_options' class='dropdown-content'>
            <li><a href="{% url 'update_series' series.id %}" class="tooltipped material-icons" data-delay="50" data-tooltip="Edit entry.">edit</a></li>
            <li><a href="#!" class="tooltipped material-icons" data-delay="50" data-tooltip="Share">share</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'delete_series' series.id %}" class="tooltipped material-icons red" data-position="bottom" data-delay="50" data-tooltip="Delete (cannot undo!)">delete</a></li>
          </ul>
        <div class="card medium hoverable">
            <div class="card-image">
                <img src="{{series.cover_image_url}}" width="300" height="250px">
                <span class="card-title grey-text text-lighten-4">{{series.release_day}}</span>
            </div>
            <div class="card-content">
                <p>{{series.title}}</p>
            </div>
             <!-- Dropdown Structure -->
            <div class="card-action">
              <a href="{{series.stream_site}}" class="waves-effect btn red"><i class="material-icons">play_arrow</i></a>
              <a class="waves-effect waves-light btn right">#{{series.current_episode}}<i class="material-icons left">done</i></a>
            </div>
          </div>

          <ul class="collapsible popout hoverable" data-collapsible="accordion">
    <li>
      <div class="collapsible-header hoverable"><i class="material-icons">description</i>Description</div>
      <div class="collapsible-body">
        <p>{{series.description}}</p>
      </div>
    </li>
  </ul>
        </div>

{% if forloop.counter|divisibleby:3 %}
    </div>
<div class="row">
    {% endif %}
{% endfor %}
</div>
<div style="clear: both"></div>
{% endblock %}