<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MD R. Islam | Portfolio</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.blue-light_blue.min.css">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <style>
  .demo-card-wide.mdl-card {
    width: 512px;
  }
  .demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url("{% static 'images/card-bg.jpg' %}") center / cover;
  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }
  .layout-bg {
      background: url("{% static 'images/bg-black.png' %}");
      opacity: .4;

  }
    .demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
    margin: auto;
  }
  .demo-card-square > .mdl-card__title {
    color: #fff;
    background:
      url("{% static 'images/avatar.png' %}") bottom right 15% no-repeat #46B6AC;
  }

</style>
</head>
<body class="mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
<!-- Simple header with fixed tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
    <header class="mdl-layout__header">
    <div class="mdl-layout__header-row ">
      <!-- Title -->
      <span class="mdl-layout-title">MD R. Islam | Portfolio</span>
    </div>
    <!-- Tabs -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect layout-bg">
      <a href="#fixed-tab-1" class="mdl-layout__tab is-active">Home</a>
      <a href="#fixed-tab-2" class="mdl-layout__tab">Projects</a>
      <a href="#fixed-tab-3" class="mdl-layout__tab">Resume</a>
    </div>
  </header>
    </br>
    <main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
      <div class="page-content">
          <div class="mdl-card mdl-shadow--2dp demo-card-square">
      <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text">About Me</h2>
      </div>
      <div class="mdl-card__supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aenan convallis.
      </div>
    </div>
      </div>
    </section>
    <section class="mdl-layout__tab-panel" id="fixed-tab-2">
      <div class="page-content">
{% if projects %}
          <div align="center">
{% for p in projects %}

<div class="mdl-card mdl-shadow--2dp demo-card-wide">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">{{ p.title }} </h2>

  </div>
  <div class="mdl-card__supporting-text">
      <button class="mdl-button mdl-js-button" disabled>{{ p.lang_type }}</button>
    <p>{{ p.description }}</p>
      </div>
        <div class="mdl-card__actions mdl-card--border">

        <a href="{{ p.github_url }}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    <img src="{% static 'images/GitHub-Mark-32px.png' %}" alt="GitHub URL">
        <a href="{{ p.site_url }}" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored" role="button">
          <i class="material-icons">chevron_right</i></a>
        </a>
      </div>
    </div>
          </br>
    {% endfor %}
              </div>
{% endif %}
      </div>
    </section>
    <section class="mdl-layout__tab-panel" id="fixed-tab-3">
      <div class="page-content">
          <div align="center">
              <a href="#save"> <i class="material-icons">save</i></a>
          <div>
              <iframe src="https://drive.google.com/file/d/0B9XWpLcVdKtjM09FRkJTbUgyREU/preview" width="300" height="400"></iframe>
              </div>
      </div>
      </div>
    </section>

  </main>
<footer class="mdl-mini-footer mdl-color--grey-900">
    <div class="mdl-mini-footer--left-section">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">
        <a href="https://github.com/exp0nge"> <img src="{% static 'images/GitHub-Mark-32px.png' %}" alt="GitHub Profile"></a></button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect material-icons">more_horiz</button>
        </div>
        <div class="mdl-mini-footer--right-section">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect material-icons">email</button>
        <a href="https://www.linkedin.com/in/mdislamr">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect material-icons">account_circle</button>
        </a>
    </div>
    </footer>

</div>


</body>
</html>