{% extends 'base.html' %}
{% block title %}Projects{% endblock %}
{% block nav_block %}
<li><a href="{% url 'index' %}">Home</a></li>
<li class="active"><a href="#">Projects</a></li>
<li><a href="#">Resume</a></li>
<li><a href="#">Contact</a></li>
{% endblock %}
{% block body_block %}
{% if projects %}
<ul>
{% for project in projects %}
<div class="page-header">
    <h3>{{ project.title }}
        <a href="{{ project.github_url }}" role="button" class="btn btn-primary">
            <i class="glyphicon glyphicon-share-alt"></i> GitHub Link</a></h3>
</div>
    <div>{{ project.description }}</div>
{% endfor %}
{% endif %}
</ul>
{% endblock %}