<!DOCTYPE html>
        {% load staticfiles %}
<!--Bootstrap template, 'Cover', author: @mdo-->
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>MD Islam - Portfolio - {% block title %}{% endblock %}</title>

     <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/navbar-fixed-top/navbar-fixed-top.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body background="{% static 'images/bg-cyan.png' %}">
 <!-- Fixed navbar -->
 <nav class="navbar navbar-default navbar-fixed-top ">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">MD R. Islam | Portfolio</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
            <li><a href="#project_anchor"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Projects</a></li>
            <li><a href="#resume"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>Resume</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
        <div class="container">
            <div align="center"><span class="label label-info">About Me</span></div>
          <div class="jumbotron">
              <div class="well well-sm">

            {% block about_me_block %}{% endblock %}
                  </div>
          </div>
            </div>

        <div class="container">
            <div align="center"> <a name="project_anchor"><span class="label label-info">Projects</span></a></div>
          <div class="well well-sm">
            {% block projects_block %}{% endblock %}
          </div>
            </div>

            <div class="container">
                <div align="center"><a name="resume"><span class="label label-info">Resume</span></a></div>
                <div class="well">
                    {% block resume_block %}{% endblock %}
                </div>
            </div>


<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>